/* Add screen styles below */
body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;  
}
main {
    margin: 0;
}
.flex { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
}
article {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #fff;
  }
h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
h1 {
    text-align: center;
}
h2, h3, h4 {
    float: left;
    margin: 25px;
}
p {
    font-size: 16px;
    line-height: 1;
    margin: 10;
}
.blog-post-1 section {
    color: #424242;
    padding: 15px;
    width: 30%;
}
.blog-post-2 section {
    color: #424242;
    padding: 15px;
    width: 30%;
}
#open-comments {
    padding: 20px;
}
nav {
    position: sticky;
    top: 0;
    background-color: #424242;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.form-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
form {
    display: flex;
    padding-left: 100px;
    padding-right: 300px;
    padding-top: 100px;
    flex-direction: column;
}
#image-1 {
    float: left;
    margin: 25px;
}
#image-2 {
    float: left;
    margin: 25px;
}
#p-1 {
    float: left;
    margin: 25px;
}
#p-2 {
    float: left;
    margin: 25px;
}
.table {
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: large;
}

